<div class="container mt-3">
  <h1>All our Flats</h1>
  <p class="mb-2"><%= @flats.count %> flats available</p>

  <div class="flats-list row">
    <% @flats.each do |flat| %>
      <div class="col-4">
        <div class="flat-card my-3">
          <div class="photo"></div>
          <%= image_tag(flat.picture_url, height: '180', width: '100%') %>
          <div class="flat-infos p-4">
            <h3><strong><%= flat.name %></strong></h3>
            <p class="mb-0"><%= flat.address.split(",")[0] %>,</p>
            <p><%= flat.address.split(",")[1] %></p>
            <div class="guests-and-price d-flex">
              <p class="mb-0"><i class="fas fa-users"></i> <%= flat.number_of_guests %></p>
              <p class="mb-0 ml-3"><i class="fas fa-euro-sign"></i> <%= flat.price_per_night %></p>
            </div>
          </div>
          <hr class="m-0">
          <div class="card-buttons d-flex p-3">
            <%= link_to "More info", flat_path(flat) %>
            <%= link_to "Edit", edit_flat_path(flat), class: "ml-3 text-warning" %>
            <%= link_to "Remove",
                        flat_path(flat),
                        method: :delete,
                        data: { confirm: "Are you sure?" },
                        class: "ml-3 text-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
