<div class="container">
  <div class="add-flat col-6 m-auto p-4">
    <h1>Add a new flat</h1>

    <%= simple_form_for(@flat) do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.input :price_per_night %>
      <%= f.input :number_of_guests %>
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to "Cancel", flats_path, class: "btn btn-danger ml-2" %>
    <% end %>
  </div>
</div>